
<mat-grid-list cols="1" style="height: 100%" rowHeight="fit">
  <mat-grid-tile [colspan]="1" [rowspan]="1" >
    <div class="toolbar" role="banner" style="background-color: #1976d2;">
      <img style="margin-left: 30px;" width="40" alt="Angular Logo" src="./democorona/../assets/logo_byt.png" />
      <span >THÔNG TIN ĐIỂM ĐẾN CỦA CÁC CA DƯƠNG TÍNH VỚI SARS-CoV-2 {{currentDate | date:'dd-MM-yyyy : HH:mm'}}</span>
      <div class="spacer"></div>
  </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="14" >
    <!-- <mat-grid-list id="viewpc" style="height: 100% !important;" cols="7" rowHeight="fit">
      <mat-grid-tile [rowspan]="4"  [colspan]="7" style ="background:#fff"> -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tìm kiếm theo thời gian
              </mat-panel-title>
            </mat-expansion-panel-header>

           <mat-form-field class="datepicker1">
              <mat-label>Thời gian bắt đầu</mat-label>
              <input matInput [matDatepicker]="picker" (dateInput)="adddate1( $event)" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="datepicker2">
              <mat-label>Thời gian kết thúc</mat-label>
              <input matInput [matDatepicker]="picker1" (dateInput)="adddate2( $event)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
              <button class="btn-search" (click)="search()" style="margin-bottom: -10px;" mat-raised-button color="primary">Tìm kiếm</button>
          </mat-expansion-panel>
        </mat-accordion>
        <div id="mapid"></div>
     <!--  </mat-grid-tile>
    </mat-grid-list> -->
  </mat-grid-tile>
</mat-grid-list>



<!-- <div id='modal' class="modal" tabindex="-1" role="dialog" style="color: black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form [formGroup]="rfContact"   (ngSubmit)="onSubmit()"
>
              <div class="row justify-content-md-center">
                <h1 style="font-size: 70px;">Đăng Nhập</h1>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label for="example-text-input" class="col-12 col-form-label">
                        Tên người dùng:
                      </label>
                      <div class="col-12">
                        <input class="form-control" formControlName="contactName" type="text"
                          id="example-text-input">
                      </div>
                    </div>
                    <div class="col alert alert-danger" role="alert"
              *ngIf="rfContact.controls.contactName?.errors?.invalidusername
                    && rfContact.controls.contactName?.touched">
              correct the name
            </div>
                    <div class="form-group row">
                      <label for="example-email-input" class="col-12 col-form-label">
                        Mật khẩu:
                      </label>
                      <div class="col-12">
                        <input class="form-control" formControlName="pw" type="text"
                          id="example-email-input">
                      </div>
                    </div>
                    <div class="col alert alert-danger" role="alert"
              *ngIf="rfContact.controls.pw?.errors?.invalidusername
                    && rfContact.controls.pw?.touched">
              correct the name
            </div>
                    <div class="form-group row">
                      <div class="col-12 ">
                        <button class="btn btn-secondary btn-lg btn-block"
                          type="submit" >Đăng nhập</button>
                      </div>
                    </div>
                  </div>
              </div>

            </form>
      </div>
    </div>
  </div>
</div> -->
